<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <style>
        #register-section { display: none; }
        .error { color: red; }
    </style>
</head>
<body>

<div id="auth-container">
    <h2 id="form-title">Вход</h2>

    <form method='post' id="login-section">
        {% csrf_token %}
        {{ login_form.as_p }}
        <button type="submit">Войти</button>
    </form>

    <div id="register-section">
        <form method="post">
            {% csrf_token %}
            {{ reg_form.as_p }}

            <div style="color: red; margin: 15px 0;">
            {{ reg_form.non_field_errors }}
            {% for field in reg_form %}
                {% if field.errors %}
                    <p>{{ field.label }}: {{ field.errors|join:", " }}</p>
                {% endif %}
            {% endfor %}
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        <a href="#" id="toggle-link">Нет аккаунта? Зарегистрироваться</a>
    </p>
</div>

<script>
    const toggleLink = document.getElementById('toggle-link');
    const loginSection = document.getElementById('login-section');
    const registerSection = document.getElementById('register-section');
    const title = document.getElementById('form-title');

    toggleLink.addEventListener('click', function(e){
        e.preventDefault();
        if (loginSection.style.display !== 'none') {
            loginSection.style.display = 'none';
            registerSection.style.display = 'block';
            title.textContent = 'Регистрация';
            toggleLink.textContent = 'Уже есть аккаунт? Войти';
        } else {
            loginSection.style.display = 'block';
            registerSection.style.display = 'none';
            title.textContent = 'Вход';
            toggleLink.textContent = 'Нет аккаунта? Зарегистрироваться';
        }
    });
</script>

</body>
</html>